<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633144234805-jeopfdggnb0csa4l5uc01npt1urjiqr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633144234805-jeopfdggnb0csa4l5uc01npt1urjiqr4</string>
	<key>API_KEY</key>
	<string>AIzaSyC1rccuFeDfUtW-KrxEcdqqssRpMlWUU60</string>
	<key>GCM_SENDER_ID</key>
	<string>633144234805</string>
	<key>PLIST_VERSION</key>
	<string>1.3</string>
	<key>BUNDLE_ID</key>
	<string>com.TappedIn.myapp</string>
	<key>PROJECT_ID</key>
	<string>tappedin-95539</string>
	<key>STORAGE_BUCKET</key>
	<string>tappedin-95539.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633144234805:ios:84e0f29978b2624e11b27c</string>
</dict>
</plist>